html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 90%;
  background-color: azure;
  margin: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container header p {
  font-size: 30px;
  text-align: center;
}

.container header nav ul {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.container header nav ul li {
  font-size: 22px;
  list-style: none;
  padding: 8px;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 3px;
}

aside h2 {
  font-size: 24px;
  text-align: justify;
}

.aside-one, .aside-two {
  margin-top: 40px;
}

.aside-one ul li, .aside-two ul li {
  font-size: 18px;
  padding: 2px;
}