  body {
    background-color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
  }

.list-ordened li {
    background-color: yellow;
}

ol.list-ordened li:nth-child(even) {
    color: green;
}

ol.list-ordened li:nth-child(odd) {
    text-transform: uppercase;
}

.header {
    color: red;
}

.header em {
    font-size: 40px;
    border: 1px solid black;
}