body {
    background-color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.section-center {
    background-color: rgba(0, 255, 255, 0.116);
    margin-left: 33%;
    width: 33.5%;
}

.first {
    display: block;
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
    margin-left: 200px;
}

.second {
    display: inline-block;
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
}

.third {
    display: inline-block;
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
}

.section-header {
    text-align: center;
    color: blue;
}

.list-inline {
    text-align: center;
}

.list-inline li {
    display: inline-block;
    font-size: 16px;
}